body{
    margin-left: 5%;
    margin-right: 5%;
    background:#fff;color: id=15213b;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-style: normal;
    font-weight: 400;
    src: "url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2')";
}

h1{
    font-size:2em
}
h1,h2,h3,h4{
    line-height:1.2
}
img{
    display:block;
    scale: 90%;
    margin: 5%;
    }